// @font-face
//   font-family: Montserrat
//   src: url("../fonts/Montserrat_Cyrillic_400.woff2")
//   font-weight: 400

// @font-face
//   font-family: Montserrat
//   src: url("../fonts/Montserrat_Cyrillic_700.woff2")
//   font-weight: 700

@font-face
  font-family: Montserrat
  src: url("../fonts/Montserrat_Latin_400.woff2")
  font-weight: 400

// @font-face
//   font-family: Montserrat
//   src: url("../fonts/Montserrat_Latin_700.woff2")
//   font-weight: 700
