@import 'fonts'

*, *::before, *::after
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
  background-color: #f8f8f8

img
  max-width: 100%

h2, p
  margin: 0
  padding: 0

a
  display: block
  width: auto
  text-decoration: none

.nav
  position: fixed
  z-index: 1
  width: 100%
  color: #ffffff
  top: 0
  background-color: #292929
  padding: 5vh 8vw
  opacity: 0.9
  transition: top .3s

  .logo
    margin-bottom: 2vh

    a
      color: #fff
      text-decoration: none

    span
      color: #58c93a

.navbar_min
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 1.5rem

.navbar__menu_toggle_icon 
  width: 10%
  height: 3vh
  cursor: pointer

  .line
    height: 2px
    margin-bottom: 0.3rem
    color: #fff
    background-color: #fff

.navbar__items
  list-style: none
  margin: 0
  padding: 0
  display: none

.visible
  display: flex
  flex-direction: column
    
.nav .active span
  border-bottom: 2px solid #58c93a

.navbar__navlink span
  margin-bottom: 2vh
  border-bottom: 2px solid transparent

  &:not(.active):hover
    border-bottom: 2px solid #58c93a
  
.navbar__navlink a
  text-decoration: none
  color: #ffffff

.navlink__padding
  padding: 5px

.main
  padding-top: calc(12vh + 43px)
  background-color: #f8f8f8
  margin-bottom: 1.25rem

.posts
  margin-bottom: 1rem

.post
  max-width: 468px
  margin: 0 auto 1.5rem
  border: 1.0px solid #e1e0e0
  background-color: #fff
  box-shadow: 3px 5px 2px #eee
  position: relative
  padding: 1.4rem 1.7rem 2.3rem

.image__link
  display: block
  overflow: hidden
  margin-bottom: 1rem
  
.image__link img
  display: block
  transition: transform .5s
  
  &:hover
    transform: scale(1.015)

.post__title
  color: #444
  margin-bottom: .6rem
  line-height: 30px

  & span:hover
    color: #58c93a

.post__text
  color: #444
  margin-bottom: 1rem
  line-height: 1.3rem
  letter-spacing: 0.03em
  // hyphens: auto

.post__button
  background-color: #ffffff
  border: 2.0px solid #c2c2c2
  padding: 0.5rem
  font-size: .8rem
  text-align: center
  border-radius: 5px
  color: #606060
  font-size: .9rem
  cursor: pointer
  outline: 0
  // position: absolute
  // bottom: 2.3rem
  // right: 1.87

  &:hover
    color: #58c93a
    border: 2px solid #58c93a

.pagination
  padding: 3vh 3vw
  margin: 0 auto 2rem
  display: flex
  justify-content: space-between
  text-transform: uppercase
  font-size: 14px
  color: #606060
  border: 1px solid #e1e0e0
  border-top: 0
  max-width: 468px 
  background-color: #fff 
  box-shadow: 3px 5px 2px #eee

.pagination *
  display: flex
  align-items: center
  color: lighten(#444, 10%)

.pagination img
  width: 15px
  height: 7px

.pagination_prev,
.pagination_next
  cursor: pointer

.pagination_prev img,
.pagination_next p
  margin-right: .7rem

.footer
  text-align: center

  .logo
    font-size: 1.2rem
    margin-bottom: 1rem

    span
      color: #58c93a

.whois
  letter-spacing: 0.03em
  //color: darken(#a6a6a6, 15%)
  color: lighten(#444, 10%)
  margin: auto
  margin-bottom: 1rem
  max-width: 392px
  width: 90%

.social-icons
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  max-width: 392px
  width: 90%
  margin-bottom: 1rem

.social-icon
  width: 40px
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  transition: opacity .3s
  opacity: .4

  &:hover 
    opacity: 1
    
.social-icon_facebook
  background-color: #516fad
  margin-right: 1vw
  
  img
    transform: scale(1.05)


.social-icon_telegram
  overflow: hidden
  background-color: #4aaee8

@media (min-width: 576px)
  .post,
  .pagination
    width: calc(468 / 576)vw
    max-width: calc(468 / 576)vw

@media (min-width: 744px)
  .nav
    display: flex
    align-items: center
    justify-content: space-between

  .navbar__items
    width: 40%
    display: flex
    justify-content: space-between

  .navbar__menu_toggle_icon
    display: none

  .pagination p
    font-size: 16px

  .visible
    flex-direction: row

  .post,
  .pagination
    max-width: 60%
    width: 60%  

  .post__title
    color: #444
    margin-bottom: .7rem
    line-height: 30px

  .post__text
    line-height: 1.5rem

  .post__button
    font-size: .9rem
    // width: 22vw

@media (min-width: 1084px)
  .post
    display: flex
    padding: 1.2rem 1.5rem 1.8rem

  .post,
  .pagination
    width: 1000px
    max-width: 1000px

  .image__link
    display: block
    width: 58.5%
    max-width: 58.5%
    margin-right: 1.5rem
    margin-bottom: 0

    img
      margin-bottom: 0

  .post__inner
    max-width: 40%
    width: 40%

  .post__button
    position: absolute
    bottom: 1.8rem

  .pagination
    max-width: 1000px

    // p
      // font-size: 16px

// it's important too keep
// .hidePost in the end of 
// this stylesheet
  
.hidePost
    display: none
